<!DOCTYPE html>
html(lang="es")
  head
    block vars
    title #{title}
    meta(name='description', content='#{description}')
    meta(charset="UTF-8")
    block styles
      link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
  body
    block content